body {
    overflow-y:no-display
}

.page-content {
    background-color:#f9f9f9;
    height:auto;
}

.items {
    height:200px
}

.sticker-right {
    position:absolute;
    right:0;
    top:0;
    color:green;
    padding:10px 10px;
}

.checkout-quantity {
    padding-right:20px;
    padding-left:20px;

}

.checkout-quantity-value {
    padding-left: 20px !important
}

.productDetail {
    display: none; 
    width: 700px;
}