USE [master]
GO
/****** Object:  Database [DbInventory]    Script Date: 3/22/2018 10:00:36 AM ******/
CREATE DATABASE [DbInventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbInventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DbInventory_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbInventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DbInventory_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbInventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbInventory]
GO
USE [DbInventory]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 3/22/2018 10:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[WarehouseId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[Stock] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/22/2018 10:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 3/22/2018 10:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inventory] ([WarehouseId], [ProductId], [Stock]) VALUES (1, 1, 90)
INSERT [dbo].[Inventory] ([WarehouseId], [ProductId], [Stock]) VALUES (1, 2, 96)
INSERT [dbo].[Inventory] ([WarehouseId], [ProductId], [Stock]) VALUES (1, 3, 100)
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([WarehouseId], [Name], [Active]) VALUES (1, N'Hangar 18', 1)
INSERT [dbo].[Warehouse] ([WarehouseId], [Name], [Active]) VALUES (2, N'Hangar 19', 1)
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK__Inventory__Wareh__2F10007B] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK__Inventory__Wareh__2F10007B]
GO
USE [master]
GO
